
<div class="container">
  <br/>
  <div class="row">
    <div class="col" *ngFor="let product of productList">
      <a routerLink='/detail'>
        <div id="{{product}" class="card" style="width: 15rem;">
          <img src="../../assets/img/palcefolder_300-202.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
